@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
  @apply w-full border rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-amber-300;
}

.input-sm {
  @apply w-full border rounded px-2 py-1 text-sm;
}

.btn-primary {
  @apply bg-amber-500 hover:bg-amber-600 text-white px-4 py-2 rounded-md shadow;
}

.btn-secondary {
  @apply bg-gray-100 hover:bg-gray-200 px-3 py-1.5 rounded-md text-sm;
}

.th {
  @apply px-2 py-2 text-left text-xs font-semibold;
}
